
<div id="meta">
  <div class="container center">
    <div class="row">
      <div class="col s4">
        <p>Servings</p>
      </div>
      <div class="col s4">
        <p>Time</p>
      </div>
      <div class="col s4">
        <p>Difficulty</p>
      </div>
    </div>
  </div>
</div>