<nav>

  <ul id="slide-out" class="side-nav col s6 right-align">
    <li><a href="#!">Bookmarks</a></li>
    <li><a href="#!">Recommended</a></li>
    <li><a href="#!">Profile</a></li>
    <li><a href="#!">Settings</a></li>
  </ul>
  
  <a href="#"  data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
  
  <form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="material-icons right">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>
    
</nav>




    

