<div class="container">
	<div class="row">
		<h2>category.title</h2>
		
	</div>

<section id="categories">
  <% @recipes.each_slice(2) do |recipe| %>
    <div class="row">
      <% recipe.each do |recipe| %>
	      <a href="/recipes/<%= recipe.id %>">
	        <div id="cat" class="col s12" style="background: url('<%= recipe.image %>');">
	          <div class="recipe-content">
	            <h5><%= recipe.title %></h5>
	          </div>   
	        </div>
	      </a>
      <% end %>
    </div>
  <% end %>
</section>

	
</div>

<div id="bottom-nav">
  <div class="container">
    <div class="row">
      <div class="col s3">
        <i class="small material-icons">android</i>
      </div>
      <div class="col s3">
        <i class="small material-icons">turned_in</i>
      </div>
      <div class="col s3">
        <i class="small material-icons">call_made</i>
      </div>
      <div class="col s3">
        <i class="small material-icons">invert_colors</i>
      </div>
    </div>
  </div>
</div>