
<div class="row"></div> <!-- without this div bgcolor of the footer below bleeds -->

<footer class="page-footer" id="foot">
    <div class="row">
      <div class="col l6 s12">
          <div class="container center">
            <div class="row">
              <div class="col s3"><a href="/"><i class="small material-icons">android</i></a></div>
              <div class="col s3"><i class="small material-icons">turned_in</i></div>
              <div class="col s3"><i class="small material-icons">call_made</i></div>
              <div class="col s3"><i class="small mdi-image-grain"></i></div>
            </div>
          </div>
      </div>
    </div>  
</footer>
    