@import "materialize";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #FFF;
}

nav {
  background: #3D3D3D;
  
  .brand-logo {
    font-family: 'Montserrat', sans-serif;
    // line-height: 29.5;
  }
}

#foot {
 background: #333;  // bleeding into the rest of the app
}

#slide-out {
  background: #F96332; // Orange
}

#second-nav {
  background: #4A4A4A;
  color: #FFF;
  .row {
    margin-bottom: 0px;
  }
}

#categories {
  .row {
    margin-bottom: 0px;
  }
}
#cat {
  background-size: cover !important;
  background-repeat: none !important;
  padding: 80px 0px;
  position: relative;
  h5 {
    height: 70px;
    position: absolute;
    color: #FFF;
    top: 70%;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}

@media (min-width: 375px) and (max-width: 667px){ 
  #cat {
    padding: 120px 0px;
  }
}

#rec {
  background-size: cover !important;
  background-repeat: none !important;
  padding: 80px 0px;
  position: relative;
  h5 {
    height: 50px;
    position: absolute;
    color: #FFF;
    top: 70%;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}

#meta {
    // background: #ddd;  // bleeding into the rest of the app
}

#recipe {
  background-size: cover !important;
  background-repeat: none !important;
  padding: 100px 0px;
  position: relative;
  h5 {
    height: 50px;
    position: absolute;
    color: #FFF;
    top: 70%;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}

#recipe-content {
  padding: 0 40px 10px 40px;
  color: #888;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: justify;
  line-height: 200%;
  h5 {
    height: 30px;
    padding-top: 20px;
    color: #FF7200;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
  }
  
}


