@import "materialize";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
  background: #eee;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #FFF;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.button {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}
/* line 50, /Users/vivekpoola/.rvm/gems/ruby-2.2.1/gems/materialize-sass-0.97.0/app/assets/stylesheets/materialize/components/_buttons.scss */
.button:hover {
  background-color: #2bbbad;
}



nav {
  background: #3D3D3D;
  
  .brand-logo {
    font-family: 'Montserrat', sans-serif;
    // line-height: 29.5;
  }
}

#crave {
  z-index: 1;
    position: fixed;
    top: 0;
  h5 {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 401px) {
  #crave {
    max-width: 400px;
    position: absolute;
    top: 10%;
    left: 0;

  }
}

#slide-out {
  background: #F96332; // Orange
}

#second-nav {
  background: #4A4A4A;
  color: #FFF;
  .row {
    margin-bottom: 0px;
  }
}

#categories {
  .row {
    margin-bottom: 0px;
  }
}
#cat {
  background-size: cover !important;
  background-repeat: none !important;
  padding: 80px 0px;
  position: relative;
  h5 {
    height: 70px;
    position: absolute;
    color: #FFF;
    top: 75%;
    left: 0%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    // background-image: url("stripes.png");
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 5%;
   

  }
}


@media (min-width: 375px) and (max-width: 667px){ 
  #cat {
    padding: 120px 0px;
  }
}

#rec {
  background-size: cover !important;
  background-repeat: none !important;
  padding: 80px 0px;
  position: relative;
  h5 {
    height: 50px;
    position: absolute;
    color: #FFF;
    top: 65%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 30px;
  }
}

#meta {
    background-color: #4A4A4A;
    color: #fff;
    width: 100%;
    margin: 0, 20px, 0, 20px;
    
}
#rec-container {
  position: relative;
}

#recipe {
  background-size: cover !important;
  background-repeat: none !important;
  padding: 100px 0px;
  position: relative;
  h5 {
    height: 50px;
    position: absolute;
    color: #FFF;
    top: 70%;
    left: 0%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    
  }
}

#recipe-content {
  padding: 0 40px 10px 40px;
  color: #888;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: justify;
  line-height: 200%;
  h5 {
    height: 30px;
    padding-top: 20px;
    color: #FF7200;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
  }
  
}

#foot{
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #333;
  color: #fff;
  max-width: 400px;
}

#foot_text{
  z-index: 1;
}


#user {
  header {
    background: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    text-align: center;
    color: #FFF;
  }
}
