<nav>
<a href="#" class="brand-logo center"><%= @category.title %></a>
  
  
  <!-- <form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="material-icons right">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form> -->
    
</nav>