
<div class="container">
	<h5>New Category</h5>
		<em>I think I like <strong>Channels</strong> better</em>
	<div class="row">
		<div class="col xs12">
			<%= render 'form' %>
		</div>
	</div>
</div>


